*{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: skyblue;
    text-align: center;
    align-items: center; 
}
.header_name,.header_name2{
    
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    
    
}
.header_section{
   display: flex;
  
  justify-content: space-between;
   
}
a{
    
    color: white;
    font-size: 25px;
   
    
}
.date,.time{
    position: relative;
    top: 1235px;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.container{
    border-radius: 2%;
    border: 2px solid black;
    background-color: white;
   position: absolute;
   left: 200px;
    
    width: 35%;
    height: 1050px;
    
    display: inline-block;
    
    color: skyblue;
}
.con_tacm{
    font-size: 50px;
    font-weight: bold;
}
.con_tactt{
    font-size: 30px;
    font-weight: bold;
}
.input_c{
    margin: 20px;
    width: 90%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.sub_ject{
    width: 90%;
    height: 100px;
    
}
.contact_an{
   border-radius: 2%;
   border: 2px solid black;
    position: absolute;
    background: white;
    right: 200px;
    width: 35%;
    height: 1050px;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    color: skyblue;
   
    
}
.con_t{
    margin-top: 200px;
    font-size: 60px;
   
   
}
p,.add_ress,.ph_one,.em_ail{
    margin-bottom: 20px;
    font-size: 35px;
 
     
}
br{
    margin-top: 20px;
    margin-bottom: 20px;
}