*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
   background-color: skyblue;
    text-align: center;
    position: relative;
    
    
}
.header_name,.header_name2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
   
    
    
}
.header_section{
   display: flex;
   justify-content: space-between;
}
a{
    
    color: white;
    font-size: 25px;
    
}
.date{
    font-size: 45px;
    color: white;
}
.time{
    font-size: 100px;
    font-weight: bold;
    color: white;
}
.search_item{
    background-color: white;
    font-size: 30px;
    border: 0px;
    color: skyblue;
    font-weight: bold;
    border-radius: 50px;
    width: 1000px;
}
.search_item2{
    margin-bottom: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    width: 800px;
    height: 28px;
    border-radius: 50px;
    border: 1px dotted;
}
.login_form{
    position: absolute;
   background-color: white;
    border-radius: 50%;
    border: 1px solid;
    color: skyblue;
    font-size: 25px;
    font-weight: bold;
    width: 90px;
    height: 60px;
    
}
